body{
	font-family: verdana;
}

table, table td{
	border: 1px solid grey;
	font-size: 9px;
}

.gastos{
	background-color: #FFBD30;
}

.FARMACIA{
	background-color: #78FFFF;
}

.CIRUGIA{
	background-color: #7FFFB5;
}


.NACIMIENTO{
	background-color: #FEB4ED;
}

.CASAMIENTO{
	background-color: #EEFFAC;
}

#detalle_recibos{

}